*{
    margin: 0;
    padding: 0;
}
@keyframes button-hover{
    from{font-size:40px; background-color:rgb(0, 126, 252);}
    to{font-size: 50px; background-color:rgb(112, 0, 204) ;}
}
@font-face {
    font-family: architex;
    src: url(fonts/Architex.ttf);
}
@font-face {
    font-family: affectionately-yours;
    src: url(fonts/affectionately-yours.ttf);
}
@font-face {
    font-family: FranklinGothic;
    src: url(/fonts/franklin-gothic-condensed.ttf);
}
body{
    background-image: linear-gradient(to right top,#C33764,#1D2671);
    background-attachment: fixed;
    /* background-image: linear-gradient(to right top,#D4145A, #FBB03B); */
    /* background-image: linear-gradient(to right top,orange 33.33%,rgb(255, 0, 0), rgb(163, 1, 1) );  */
}
p{
    color:rgb(255, 255, 255);
}
h1.heading{
    margin: 5px 0px 5px 0px;
    font-size: 50px;
    text-align: center;
    color: white;
   font-family: 'FranklinGothic', 'Sans-Serif';
   letter-spacing: 1.5px;
   /* background-image: linear-gradient(to right top,orange 33.33%,rgb(255, 0, 0), rgb(163, 1, 1) ); */
   padding-top: 15px;
   padding-bottom: 25px;
   line-height: 70px;
}
.logo-top{
    margin-left: 5px;
    margin-top: 5px;
    height: 50px;
    width: 50px;
    border: 5px solid white;
    border-radius: 100%;
    border-width: 3px;
    border-spacing: 0px;
}
.socials{
    font-size:large;
    position:fixed;
    bottom: 20px;
    right: 20px;
}
.link:visited{
    color:rgb(56, 56, 56);
}
.link:hover{
    color:rgb(255, 255, 255);
}
 
button.quirky:hover,:visited{
    animation-name: button-hover;
    animation-duration: 2s;
    font-family: FranklinGothic, sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: rgb(112, 0, 204);
    color:white;
    padding: 5px;
}
button.quirky{
    text-decoration: none;
    font-size:40px;
    font-family: FranklinGothic;
    background-color:rgb(0, 126, 252);
    padding: 5px;
    color: rgb(255, 255, 255);
    }   
#hello{
    font-family: affectionately-yours, sans-serif;
    text-align: center;
    color: white;
    font-size: 75px;
    padding-bottom: 30px;
    letter-spacing: 3px;
}
h4.para{
    font-family: architex, sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
}
#linkyoutube:hover {
    
    color: rgb(255, 0, 0);
}
.checkout{
    background-color: #FBB03B;
    opacity: 50;
    padding: 5px;
    letter-spacing: 3px;
    font-size: 27px;
    color: beige;
    font-family: architex, sans-serif;
    position: fixed;
    bottom: 10px;
    left: 5px;
    text-shadow: 1px 1px #c17700;
}
#gratitude{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
}
#button{
    color: white;
    font-family: architex;
   font-size: 15px;
   padding: 5px;
   background-color: rgb(255, 0, 0); 
   border: none;
   font-weight: bolder;
}
#button:hover{
    color: white;
    background-color: rgb(250, 54, 54)
}
#btntwo{
    display: block;
  margin: auto;
    color: white;
    background-color:rgb(112, 0, 204);
    padding: 5px;
    font-family: architex, sans-serif;
    font-weight: bolder;
    font-size: 25px;
}
#btntwo:hover{
 color:white;
 background-color: rgb(132, 23, 222)
}
p.copyright {
    font-size: 15px;
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}